* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.logo {
    width: 150px;
    height: auto;
    display: block;
    margin: 20px auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    z-index: 1000; 
}

body {
    padding-top: 80px; /* Ajusta según la altura del menú */
}

section {
    scroll-margin-top: 100px; /* Ajusta este valor según la altura del menú */
}

header h1 img {
    height: 50px;
}

#inicio a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: gray;
    transition: background 0.3s, transform 0.2s;
}

#inicio a:hover {
    background-color: #B05FE2; 
    color: black;
    transform: scale(1.1);
}

.nav-container {
    width: 100%;
}

nav {
    display: flex;
    justify-content: end; 
    gap: 15px;
    background-color: black; 
    padding: 15px;
    width: 100%;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: color 0.3s, transform 0.3s, background 0.3s;
}

nav a:hover {
    color: #B05FE2; 
    transform: translateY(-3px); 
    background: linear-gradient(45deg, #B05FE2); 
    border-radius: 10px;
}

/* --- Inicio --- */
#inicio-section {
    display: flex;
    height: 83vh;
    width: 100%;
    position: relative;
}

.imagen {
    flex: 1;
    position: relative; /* Permite posicionar elementos hijos de manera absoluta */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.imagen img {
    max-width: 100%;
    height: auto;
}

.logo-principal {
    position: absolute;
    top: 30%;  /* Ajusta la altura */
    left: 50%; /* Ajusta la posición horizontal */
    transform: translate(-50%, -50%);
    width: 120px; /* Ajusta el tamaño del logo */
    height: auto;
}

/* Agrega el degradado en la parte derecha sin cubrir completamente la doctora */
.imagen::before {
    content: "";
    position: absolute;
    top: 0;
    left: 40%; /* Ajusta este valor para dejar la imagen más visible */
    width: 60%; /* Solo el 60% derecho tendrá el efecto */
    height: 100%;
    background: linear-gradient(to left, rgba(106, 106, 106, 0.8), rgba(255, 255, 255, 0));
}

.texto {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    padding: 50px;
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
}

.texto h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.texto p {
    font-size: 1.2rem;
    line-height: 1.5;
    max-width: 90%;
}

/* --- Sobre Nosotros --- */
#sobre-nosotros {
    text-align: center;
    padding: 50px 20px;
    width: 80%;
    max-width: 800px;
    margin: 60px auto 0; /* Mayor separación desde la sección anterior */
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#sobre-nosotros h2 {
    color: #B05FE2;
    font-size: 2.5rem;
    margin-bottom: 15px;
    font-weight: bold;
}

#sobre-nosotros p {
    font-size: 1.2rem;
    color: #333;
    line-height: 1.6;
    font-style: italic;
}

/* ---- Carrusel ---- */
#nuestros-productos {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 100%;
    margin: auto;
    padding: 20px;
    background: linear-gradient(to right, #67676765, #ffffff);
}

#productos-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#nuestros-productos h2 {
    color: #B05FE2;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
    text-align: left;
    flex: 1;
}

.product-card {
    background: #fff;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    text-align: left;
    border-left: 5px solid #B05FE2;
}

.product-card p {
    font-size: 1.1rem;
    color: #333;
    margin: 0;
    line-height: 1.5;
    font-style: italic;
}

.carousel {
    flex: 2;
    position: relative;
    width: 100%;
    max-width: 800px;
    overflow: hidden;
    border-radius: 10px;
}

.carousel-content {
    display: flex;
    width: 1000%;
    animation: slide 50s infinite ease-in-out;
}

.slide-title {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
    width: 50%;
    position: relative;
    bottom: 30px;
    left: 0;
    border-radius: 0 0 10px 10px;
}

.slide {
    flex: 0 0 10%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel img {
    width: 100%;
    height: 300px;
    object-fit: contain;
    border-radius: 10px;
}

@keyframes slide {
    0%, 9.99% { transform: translateX(0); }  
    10%, 19.99% { transform: translateX(-10%); }  
    20%, 29.99% { transform: translateX(-20%); }  
    30%, 39.99% { transform: translateX(-30%); }  
    40%, 49.99% { transform: translateX(-40%); }  
    50%, 59.99% { transform: translateX(-50%); }  
    60%, 69.99% { transform: translateX(-60%); }  
    70%, 79.99% { transform: translateX(-70%); }  
    80%, 89.99% { transform: translateX(-80%); }  
    90%, 99.99% { transform: translateX(-90%); }  
    100% { transform: translateX(0); }  
}

/* --- Servicios --- */
#servicios {
    text-align: center;
    padding: 50px;
    width: 50%;
    max-width: 700px;
    margin: 60px auto 0;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#servicios h2 {
    color: #B05FE2;
    font-size: 2.5rem;
    margin-bottom: 15px;
    font-weight: bold;
}

#servicios p {
    font-size: 1.2rem;
    color: #333;
    line-height: 1.6;
    font-style: italic;
}

/* --- Contactanos --- */
.contacto-interes-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: black;
    color: white;
}

.barra-inferior {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.contact-buttons, .sitios-container {
    display: flex;
    gap: 20px;
}

.contact-buttons a {
    font-size: 30px;
    color: white;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
    display: inline-block;
}

@keyframes floatIcon {
    0% { transform: scale(1) rotate(0deg); }
    50% { transform: scale(1.3) rotate(10deg); }
    100% { transform: scale(1) rotate(0deg); }
}

.whatsapp-btn:hover {
    color: #25D366;
    animation: floatIcon 0.5s ease-in-out;
}

.call-btn:hover {
    color: #3498db;
    animation: floatIcon 0.5s ease-in-out;
}

.instagram-btn:hover {
    color: #C13584;
    animation: floatIcon 0.5s ease-in-out;
}

.facebook-btn:hover {
    color: #1877F2;
    animation: floatIcon 0.5s ease-in-out;
}

#Sitios-interes h2 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: white;
    margin-bottom: 15px;
}

.sitio-btn {
    color: white;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    display: inline-block;
}

.sitio-btn:hover {
    color: #B05FE2; /* Cambia el color del texto a #B05FE2 */
    text-shadow: 0px 0px 12px rgba(180, 180, 180, 0.9); /* Brillo gris */
    transform: translateY(-3px) scale(1.1); /* Movimiento hacia arriba y ligera expansión */
}

/* Inicio de sesión */
body.login-page {
    background: linear-gradient(to right, #383838, #111);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

body.login-page form {
    background-color: rgba(30, 30, 30, 0.95);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

form {
    width: 90%;
    max-width: 400px;
    margin: 80px auto; /* Centra el formulario */
    padding: 30px;
    background-color: #f4f4f4; /* Fondo gris claro */
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

form h2 {
    color: #B05FE2;
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: bold;
}

form label {
    display: block;
    text-align: left;
    font-size: 1rem;
    margin-bottom: 5px;
    color: #bbbbbb;
    font-weight: bold;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s;
}

form input:focus {
    border-color: #B05FE2;
    outline: none;
}

#togglePassword {
    cursor: pointer;
    position: relative;
    left: -30px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #B05FE2;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

form button:hover {
    background-color: #8a45b7;
    transform: scale(1.05);
}

form p {
    font-size: 0.9rem;
    color: #bbbbbb;
    margin-top: 15px;
}

form a {
    color: #B05FE2;
    text-decoration: none;
    font-weight: bold;
}

form a:hover {
    text-decoration: underline;
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

#showPassword {
    display: none;
}

.togglePassword {
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    color: #B05FE2;
}

.togglePassword .fa-eye-slash {
    display: none;
}

#showPassword:checked + input + .togglePassword .fa-eye {
    display: none;
}

#showPassword:checked + input + .togglePassword .fa-eye-slash {
    display: inline;
}

#showPassword:checked + input {
    -webkit-text-security: none;
}

/* Estilos para la tabla */
table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background: rgba(0, 0, 0, 0.116);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.table body {
    background-color: #000000; /* Fondo negro para toda la página */
    color: rgb(0, 0, 0); /* Asegura que el texto sea visible */
}


th, td {
    padding: 12px;
    border: 1px solid #000000;
    text-align: left;
}

th {
    background-color: #8a45b7;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

/* Efecto al pasar el mouse */
tr:hover {
    background-color: #b05fe2a7;
}

/* Enlace dentro de la tabla */
table a {
    text-decoration: none;
    color: #bf00ff;
    font-weight: bold;
}

table a:hover {
    color: #0056b3;
    text-decoration: underline;
}

/* Estilo del título */
.table h2 {
    color: #fffefe;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 0;
}

/* --- Registro --- */
body.register-page {
    background: linear-gradient(to right, #383838, #111);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

body.register-page form {
    background-color: rgba(30, 30, 30, 0.95);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

.register-container {
    width: 90%;
    max-width: 500px;
    background-color: rgba(30, 30, 30, 0.95);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.register-container h2 {
    color: #B05FE2;
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.form-group {
    display: flex;
    gap: 15px;
}

.input-box.tipo-documento {
    width: 40%;  /* Ajusta según sea necesario */
}

.input-box.numero-documento {
    width: 60%; /* Ajusta según sea necesario */
}
.form-group .input-box {
    width: 50%;
}

.input-box label {
    display: block;
    text-align: left;
    font-size: 1rem;
    margin-bottom: 5px;
    color: #bbbbbb;
    font-weight: bold;
}

.input-box input,
.input-box select {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s;
    background-color: white;
    color: #333;
    cursor: pointer;
}

.input-box input:focus,
.input-box select:focus {
    border-color: #B05FE2;
    outline: none;
}

.full-width {
    width: 100%;
}

.register-container button {
    width: 100%;
    padding: 10px;
    background-color: #B05FE2;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    margin-top: 10px;
}

.register-container button:hover {
    background-color: #8a45b7;
    transform: scale(1.05);
}

/* --- Mensajes de ayuda y enlaces --- */
.register-container p {
    font-size: 0.9rem;
    color: #bbbbbb;
    margin-top: 15px;
}

.register-container a {
    color: #B05FE2;
    text-decoration: none;
    font-weight: bold;
}

.register-container a:hover {
    text-decoration: underline;
}

/* --- Responsividad para pantallas pequeñas --- */
@media (max-width: 500px) {
    .form-group {
        flex-direction: column;
    }
    .form-group .input-box {
        width: 100%;
    }
}

select {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s;
    background-color: white;
    color: #333;
    cursor: pointer;
}

/* Cambio de color al hacer clic */
select:focus {
    border-color: #B05FE2;
    outline: none;
}